<md-card class="width" *ngIf="album">
    <md-card-title>{{ album.name }}</md-card-title>
    <img md-card-img src="{{ album.images[1].url }}">
    <md-card-content>
        <h2>Tracks</h2>
        <ol>
          <li class="font" *ngFor="let t of album.tracks.items">
            <a [routerLink]="['/tracks', t.id]"> {{ t.name }} </a>
          </li>
        </ol>
    </md-card-content>
    <md-card-actions class="action">
      <button md-raised-button color="primary" (click)="back()">Back</button>
    </md-card-actions>
  </md-card>